#sidebar {
  width: var(--width-sidebar);
  height: 100%; /* Take full height of its parent (#sidebar-container) */
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 80px 0;
  color: var(--color-text-secondary);
}

.sidebar-header {
  object-fit: cover;
  max-width: 115px;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

nav a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  padding: 12px;
  color: var(--color-grey-400);
}

.sidebar-nav {
  padding-top: 150px;
}

.sidebar-footer {
  padding-top: 150px;
}

.sidebar-footer ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 300px;
}

.sidebar-footer a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  padding: 12px;
  color: var(--color-grey-400);
}

/* === Mobile Sidebar (Bottom Navigation) === */
@media (max-width: 768px) {
  #sidebar {
    width: 100%;
    height: var(--height-sidebar-mobile);
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
  }

  .sidebar-nav {
    padding-top: 0px;
  }

  .sidebar-footer {
    padding-top: 0px;
  }

  .sidebar-header {
    display: none;
  }

  .sidebar-nav .label {
    /* display: none; */
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }

  nav a {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a:hover {
    background-color: var(--color-hover-background);
    border-radius: var(--border-radius-small);
  }

  .icon {
    width: 28px;
    height: 28px;
  }

  .sidebar-footer {
    display: none;
  }
}
