#sidebar {
  width: var(--width-sidebar);
  height: 100%; /* Take full height of its parent (#sidebar-container) */
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
  color: var(--color-text-secondary);
}

.sidebar-header {
  object-fit: cover;
  max-width: 115px;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

nav a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  padding: 12px;
  color: var(--color-grey-400);
}

.sidebar-footer ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 300px;
}

.sidebar-footer a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  padding: 12px;
  color: var(--color-grey-400);
}

@media (max-width: 768px) {
  #sidebar {
    width: 100%;
    height: 60px;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
  }
  .sidebar-header {
    display: none;
  }
  .sidebar-nav .label {
    display: none;
  }
  nav ul {
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
  }

  .sidebar-footer {
    display: none;
  }
}
