#topbar {
  width: 100%;
  height: var(--height-topbar);
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  box-shadow: var(--shadow-medium);
}
#topbar_title {
  font-size: 1.5em;
  color: var(--color-text-primary);
  padding-left: var(--main-content-padding);
}

#topbar_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.user-icon {
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  #topbar {
    margin-left: 0;
    left: 0;
  }
}
