.modal-btn {
    font-size: 21px;
    font-weight: 700;
    height: 48px;
    width: 240px;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-primary);
    border: 1px solid var(--color-white);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.modal-btn:hover {
    cursor: pointer;
    background-color: var(--color-primary-light);
    border: 1px solid var(--color-primary-light);
    box-shadow: var(--shadow-medium);
}

.newContactModal {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 400ms ease;
    will-change: transform;
}

.newContactModal.show {
    transform: translateX(0);
}

.modal-content {
    display: flex;
    background-color: var(--color-white);
    border-radius: var(--border-radius-xl);
    box-shadow: var(--shadow-light);
    border: 1px solid var(--color-border);
    height: 528px;
    width: 1120px;
}

.title {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 40px;
    border-bottom-left-radius: var(--border-radius-xl);
    border-top-left-radius: var(--border-radius-xl);
    display: flex;
    justify-content: center;
    align-items: revert;
    flex-direction: column;
    width: 368px;
}

.title::after {
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    background: var(--color-accent-blue);
    margin: 10px 0;
    border-radius: 2px;
}

header img {
    width: 56px;
    height: 66px;
}

header h1 {
    padding: 0;
    margin: 10px 0;
    font-weight: 700;
    font-size: 61px;
}

header h2 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    padding: 0 60px;
}

.person img {
    width: 64px;
    height: 64px;
    padding: 20px;
    border-radius: var(--border-radius-round);
    background-color: var(--color-border);
}

.close {
    position: relative;
    top: -65px;
    right: 0px;
    text-align: right;
    font-size: 25px;
    cursor: pointer;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 36%;
}

.input-wrapper {
    position: relative;
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-wrapper input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 44px 10px 16px;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-border);
    background-color: var(--color-white);
    font-size: 14px;
    outline: none;
    display: flex;
    align-items: center;
}

.input-wrapper input::placeholder {
    color: var(--color-border);
    font-size: 20px;
    font-weight: 100;
}

.field-icon {
    position: absolute;
    right: calc(5% + 10px);
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
}

.lock-icon {
    width: 22px !important;
    right: calc(5% + 7px) !important;
}

.buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 24px;
    gap: 16px;
}

.cancel-btn {
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    width: 120px;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.close-icon {
    font-size: 26px;
}

.cancel-btn:hover {
    cursor: pointer;
    color: var(--color-primary-light);
    border: 1px solid var(--color-primary-light);
    box-shadow: var(--shadow-medium);
}

.create-btn {
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    width: 180px;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-primary);
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.create-btn:hover {
    cursor: pointer;
    background-color: var(--color-primary-light);
    border: 1px solid var(--color-primary-light);
    box-shadow: var(--shadow-medium);
}