<aside id="sidebar">
    <div class="sidebar-header">
        <a href="/html/summary.html"><img src="/assets/icons/join_white.svg" alt="Join-Logo"></a>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="/html/summary.html"><img class="icon" src="/assets/icons/summary_2.svg" alt=""><span
                        class="label">Summary</span></a></li>
            <li><a href="/html/add_task.html"><img class="icon" src="/assets/icons/add_task.svg" alt=""><span class="label">Add
                        Task</span></a></li>
            <li><a href="/html/board.html"><img class="icon" src="/assets/icons/board.svg" alt=""><span class="label">Board</span></a>
            </li>
            <li><a href="/html/contacts_default.html"><img class="icon" src="/assets/icons/contacts.svg" alt=""><span
                        class="label">Contacts</span></a></li>
        </ul>
    </nav>
    <div class="sidebar-footer">
        <ul>
            <li><a href="/html/privacy.html">Privacy Policy</a></li>
            <li><a href="/html/legal-notice.html">Legal notice</a></li>
        </ul>
    </div>
</aside>