<div id="topbar">
    <img src="../assets/icons/join_logo_2.svg" alt="" id="topbar-img" />
    <div id="topbar_title">Kanban Project Management
        Tool</div>
    <div id="topbar_user">
        <a href="../html/help.html"><img src="../assets/icons/help.svg" alt="Help Icon" class="help-icon" /></a>
        <span id="user-initial"></span>
        <!-- User Overlay -->
        <div id="user-overlay" class="user-overlay">
            <div class="overlay-content">
                <h3>User Menu</h3>
                <a href="../html/legal-notice.html">Legal Notice</a>
                <a href="../html/privacy.html">Privacy Policy</a>
                <a href="../html/log_in.html">Log out</a>
            </div>
        </div>
    </div>
</div>