.d_none {
    display: none;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/inter/inter-v19-latin-regular.woff2') format('woff2');
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #f6f7f8;
    display: flex;
    justify-content: center;
}

.newContactModal {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #d1d1d1;
}

.title {
    background-color: #2A3647;
    color: white;
    padding: 40px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.person {
    text-align: center;
    margin-top: 20px;
}

.person img {
    width: 64px;
    height: 64px;
    padding: 20px;
    border-radius: 50%;
    background-color: #D1D1D1;
}

.input-wrapper {
    position: relative;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-wrapper input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 44px 10px 16px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    background: #fff;
    font-size: 14px;
    outline: none;
    display: flex;
    align-items: center;
}

.input-wrapper input::placeholder {
    color: #D1D1D1;
    font-size: 20px;
    font-weight: 400;
}

.field-icon {
    position: absolute;
    right: calc(5% + 10px);
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
}

.lock-icon {
    width: 22px !important;
    right: calc(5% + 7px) !important;
}