/* .d_none {
    display: none !important;
} */

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/inter/inter-v19-latin-regular.woff2') format('woff2');
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #f6f7f8;
    display: flex;
    justify-content: center;
}

.main-section {
    display: flex;

}

.all-contacts {
    background-color: #FFFFFF;
    width: 620px;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.08);
}

.contact-info {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contact-info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -920px;
    gap: 10px;
    position: relative;
}

.contact-info-title h1 {
    font-size: 61px;
    font-weight: bold;
    margin: 0;
}

.line {
    width: 3px;
    height: 59px;
    background: #23a5e3;
    margin: 0 15px;
    border-radius: 2px;
}

.contact-info-title h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    color: rgba(42, 54, 71, 1);
}

.modal-btn {
    font-size: 21px;
    font-weight: 700;
    height: 48px;
    width: 240px;
    border-radius: 10px;
    background-color: #2A3647;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.modal-btn:hover {
    cursor: pointer;
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.newContactModal {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 400ms ease;
    will-change: transform;
}

.newContactModal.show {
    transform: translateX(0);
}

.modal-content {
    display: flex;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #d1d1d1;
    height: 528px;
    width: 1120px;
}

.title {
    background-color: #2A3647;
    color: white;
    padding: 40px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: revert;
    flex-direction: column;
    width: 368px;
}

.title::after {
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    background: #23a5e3;
    margin: 10px 0;
    border-radius: 2px;
}

header img {
    width: 56px;
    height: 66px;
}

header h1 {
    padding: 0;
    margin: 10px 0;
    font-weight: 700;
    font-size: 61px;
}

header h2 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    padding: 0 60px;
}

.person img {
    width: 64px;
    height: 64px;
    padding: 20px;
    border-radius: 50%;
    background-color: #D1D1D1;
}

.close {
    position: relative;
    top: -65px;
    right: 0px;
    text-align: right;
    font-size: 25px;
    cursor: pointer;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 36%;
}

.input-wrapper {
    position: relative;
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-wrapper input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 44px 10px 16px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    background: #fff;
    font-size: 14px;
    outline: none;
    display: flex;
    align-items: center;
}

.input-wrapper input::placeholder {
    color: #D1D1D1;
    font-size: 20px;
    font-weight: 100;
}

.field-icon {
    position: absolute;
    right: calc(5% + 10px);
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
}

.lock-icon {
    width: 22px !important;
    right: calc(5% + 7px) !important;
}

.buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 24px;
    gap: 16px;
}

.cancel-btn {
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    width: 120px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #2A3647;
    color: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.close-icon {
    font-size: 26px;
}

.cancel-btn:hover {
    cursor: pointer;
    color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.create-btn {
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    width: 180px;
    border-radius: 10px;
    background-color: #2A3647;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.create-btn:hover {
    cursor: pointer;
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 400px) {

    body {
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .newContactModal {
        width: 100vw;
        padding: 0;
        overflow: hidden;
        transform: translateY(100%);
    }

    .newContactModal.show {
        transform: translateY(0);
    }

    .modal-content {
        height: auto;
        max-height: 90vh;
        overflow: hidden;
        width: 90%;
        flex-direction: column;
    }

    .title {
        width: 100%;
        border-radius: 0;
        padding: 16px;
        text-align: center;
        height: auto;
        text-align: left;
        flex-shrink: 0;
        height: 300px;
    }

    .title::after {
        margin-top: 12px;
        width: 85px;
        height: 3px;
    }

    header img {
        display: none;
    }

    header h1 {
        font-size: 47px;
        margin: 6px 0;
    }

    header h2 {
        font-size: 20px;
    }

    .person {
        position: relative;
        top: -55px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        flex-shrink: 0;
    }

    .person img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        padding: 26px;
        background: #D1D1D1;
        border: 2px solid white;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }

    .input-group {
        width: 100%;
        padding: 0px 16px 54px 16px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        gap: 6px;
        margin-top: -30px;
    }

    .input-wrapper {
        padding: 2px 0;
    }

    .input-wrapper input {
        height: 41px;
        font-size: 18px;
    }

    .buttons {
        padding: 16px 0 0;
        justify-content: center;
        gap: 10px;
        flex-shrink: 0;
        margin-top: 0;
    }

    .cancel-btn {
        display: none;
    }

    .create-btn {
        width: 160px;
        height: 44px;
        border-radius: 10px;
        font-size: 16px;
        justify-content: center;
        gap: 8px;
        font-weight: bold;
    }

    .create-btn:active {
        color: #29ABE2;
        border: 1px solid #29ABE2;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        font-size: 30px;
    }
}