html body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin-left: 250px;
}
