#topbar {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#topbar_title {
  font-size: 1.5em;
  color: black;
}

#topbar_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.user-icon {
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  #topbar {
    margin-left: 0;
    left: 0;
  }
}
