#topbar {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  top: 0;
  position: fixed;
  margin-left: 220px;
}
#topbar_title {
  font-size: 1.5em;
  color: black;
}

@media (max-width: 768px) {
  #topbar {
    margin-left: 0;
    left: 0;
  }
}
